<h2 class="text-center mt-5" id="form-title">修改餐廳內容</h2>

<div class="container">
  <div class="row m-5">
    <form class="container-fluid needs-validation" action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST"
      id="form" novalidate>
      {{> restaurant-form}}
      <div class="col-12 mt-5">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-outline-primary mr-2">編輯</button>
          <a class="btn btn-outline-secondary" href="/" role="button">返回</a>
        </div>
      </div>
    </form>
  </div>
</div>