<div class="container login">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="card card-body login-card">
        <h1 class="text-center mt-3">Login</h1>
        {{> message}}
        <form action="/users/login" class="needs-validation" method="POST" novalidate>
          <div class="form-group mt-2">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
          </div>
          <button type="submit" class="btn mt-4 btn-block" style="background-color: #9b4b4b; color: white;">Login</button>
            <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fab fa-facebook mr-2"></i>Facebook Login</a>
            <a href="/auth/google" class="btn btn-secondary btn-block"><i class="fab fa-google mr-2"></i>Google Login</a>
        </form>
        <p class="mt-4">
          No Account? <a href="/users/register" style="color: #9b4b4b;">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>