<div class="container login">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="card card-body login-card">
        <h1 class="text-center mt-3">Register</h1>
        {{> message}}
        <form action="/users/register" class="needs-validation" method="POST" novalidate>
          <div class="form-group mt-3">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter name" value="{{name}}" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="{{email}}" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value="{{password}}" required>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" value="{{confirmPassword}}" required>
          </div>
          <button type="submit" class="btn mt-4 btn-block"
            style="background-color: #9b4b4b; color: white;">Submit</button>
        </form>
        <p class="mt-4">
          Have An Account? <a href="/users/login" style="color: #9b4b4b;">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>